<div class="dashboard-container">
            <div class="planning">
                <h2>Planning Projects</h2>
                <button class="add-project" mat-button (click)="openPlanningProjectModal()">+</button>
            </div>
            <div class="project-container">
                <div class="projects" *ngFor="let project of projects">
                    <div class="top part">
                        <p class="title"><strong>Project: {{project.name}}</strong></p>
                        <small class="subtitle">Project: {{project.name}}</small>
                    </div>
                    <div class="bottom part">
                        <small><strong>Budget</strong></small>
                        <small class="subtitle">{{project.totalBudget | currency}}</small>
                        <br>
                        <small><strong>Total No. of Positions</strong></small>
                        <small class="subtitle">{{project.collaboratorEmail}}</small>
                        <br>
                        <small><strong>Co-planers</strong></small>
                        <small class="subtitle">{{project.collaboratorEmail}}</small>
                    </div>
                </div>
            </div>
        </div>