.custom-labels {
    margin-top: 10px;
    font-size: 14px;
    width: 100%; /* Adjust width based on container */
  }
  
  .label-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .label-color {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 8px;
    // border-radius: 50%;
  }
  
  .budget-info {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
  }
  
.label-text{
    display: flex;
    justify-content: space-between;
}
#donutChart {
  margin: 0 auto;
  display: block;
}

.donut-container{
  margin-top: 1rem;
}

.separator{
  border: 1px solid #ECECEC;
}