<div class="donut-container">
  <div id="donutChart" style="width: 100%; height: 250px;"></div>
  <div class="custom-labels">
    <div class="label-item" *ngFor="let item of labelData">
      <div class="label-text">
        <span class="label-color" [ngStyle]="{'background-color': item[2]}"></span>
        <span><strong>{{item[0]}}</strong></span>
      </div>
      <div><span><strong>{{item[1]}}%</strong></span></div>
    </div>
  </div>
  <hr class="separator">
  <div class="budget-info">
    <div class="label-item">
      <div class="label-text">
        <span><strong>Total Budget</strong></span>
      </div>
      <div>
        <span><strong>₹ {{ totalBudget }} Cr</strong></span>
      </div>
    </div>

    <div class="label-item">
      <div class="label-text">
        <span><strong>Used</strong></span>
      </div>
      <div>
        <span><strong>₹ {{ usedAmount}} Cr</strong></span>
      </div>
    </div>

    <div class="label-item">
      <div class="label-text">
        <span><strong>Left</strong></span>
      </div>
      <div>
        <span><strong>₹ {{ remainingAmount}} Cr</strong></span>
      </div>
    </div>
  </div>
</div>