@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background: #fafafa;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}